/*============ START - MAIN ============*/

* {
    font-family: 'Cabin', sans-serif;
    color: black;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: inherit;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
}

/*============ END - MAIN ============*/

/*============ START - REUSABLE ============*/

.circle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
}

.circle-btn img {
    width: 2.25rem;
    height: 2.25rem;
}

.button {
    padding: 0.9rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    background-color: black;
}

.button-black {
    background-color: black;
    color: white;
    transition: background-color 175ms ease-out;
}

.button-black:hover {
    background-color: rgb(56, 56, 56);
    transition: background-color 125ms ease-in;
}

.button-white {
    background-color: white;
    color: black;
    transition: background-color 175ms ease-out;
}

.button-white:hover {
    background-color: rgb(235, 235, 235);
    transition: background-color 125ms ease-in;
}

.button-orange {
    color: white;
    background: linear-gradient(90deg, #FC358A 0% 40%, #fcc63d 60% 100%);
    background-size: 400% 100%;
    background-position: 100% 0%;
    animation-name: progressive-gradient-reverse;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}

.button-orange:hover {
    background-position: 50% 0%;
    animation-name: progressive-gradient;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

@keyframes progressive-gradient {
    from {
        background-position: 100% 0%;
    }
    to {
        background-position: 50% 0%;
    }
}

@keyframes progressive-gradient-reverse {
    from { 
        background-position: 50% 0%;
    }
    to {
        background-position: 100% 0%;
    }
}

.button-pink {
    color: white;
    background: linear-gradient(90deg, #fcc63d 0% 40%, #FC358A 60% 100%);
    background-size: 400% 100%;
    background-position: 100% 0%;
    animation-name: progressive-gradient-reverse;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}

.button-pink:hover {
    background-position: 50% 0%;
    animation-name: progressive-gradient;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
}

.rotate-180deg {
    transform: rotate(0deg);
    transition: transform 150ms linear;
}

.rotate-180deg-hover {
    transform: rotate(180deg);
    transition: transform 150ms linear;
}

/*============ END - REUSABLE ============*/

/*============ START - HEADER ============*/

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 3rem;
}

.header-logo {
    width: 7rem;
    height: auto;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.75rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid lightgrey;
}


.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0 1.2rem;
}

.nav-list li {
    position: relative;
    margin: 1rem 1rem;
}

.nav-link {
    text-transform: uppercase;
    white-space: nowrap;
}

.nav-list li .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 1.25rem;
    height: 0.15rem;
    background-color: black;
    width: 0;
    animation-name: underline-effect-reverse;
    animation-duration: 200ms;
}

.nav-list li:hover .nav-link::after {
    width: 100%;
    animation-name: underline-effect;
    animation-duration: 200ms;
}

@keyframes underline-effect {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes underline-effect-reverse {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

.header-buttons { 
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    gap: 1vw;
}

.lang-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
    z-index: 2;
}

.lang-menu-hidden {
    position: absolute;
    bottom: -3.7rem;
    left: 0rem;
    width: 3.5rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    background-color: #131313;
    opacity: 0;
    z-index: 1;
    transition: all 500ms ease;
}

.lang-menu {
    position: absolute;
    bottom: -4.5rem;
    left: 0rem;
    width: 3.5rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 0.4rem;
    background-color: #131313;
    opacity: 1;
    z-index: 1;
    transition: all 500ms ease;
}

.lang-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.lang-list li {
    width: 75%;
    padding: 0.2rem 0;
    border-radius: 0.2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.lang-list li:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/*============ END - HEADER ============*/

/*============ START - SECTIONS ============*/

.section-home {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5rem 3rem 10rem 3rem;
    gap: 8%;
    align-items: center;
}

.section-home-text {
    width: 40%;
}

.section-home-text h2 {
    margin-right: 7rem;
}

.section-home-text p {
    font-size: 1.25rem;
    color: gray;
    line-height: 1.75;
    margin-bottom: 2rem;
}

.section-home-illustration {
    position: relative;
    width: 50%;
    padding: 5rem 0 8rem 0;
}

.home-picture-illustration {
    position: relative;
    width: 90%;
    height: auto;
    z-index: 3;
}

.home-gradient-illustration {
    position: absolute;
    top: 0;
    left: 45%;
    width: 55%;
    height: 100%;
    background: linear-gradient(0deg, #FC358A 0%, #fcc63d 100%);
    z-index: 1;
}

.home-dots-illustration {
    position: absolute;
    bottom: 10%;
    left: 65%;
    width: 55%;
    z-index: 2;
}

.home-dots-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 0.625rem;
    height: 0.625rem;
    gap: 1rem;
    margin: 1rem 0;
}

/*---------------------------*/

.section-program {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    padding: 5rem 3rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(19, 19, 19);
    color: white;
}

.section-program-text {
    width: 50%;
    color: inherit;
}

.section-program-text h2 {
    margin-right: 7rem
}

.section-program-text p {
    margin-bottom: 5rem;
}

.section-program-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: stretch;
    align-items: center;
}

.program-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 7.5rem;
    background-color: white;
    border-radius: 0.8rem;
}

.program-logo img {
    width: 5rem;
    height: auto;
}

.program-logo img.program-logo-larger {
    width: 7rem;
    height: auto;
}

/*---------------------------*/

.section-launch {
    background-color: rgb(19, 19, 19);
    background: linear-gradient(180deg, #131313 0% 50%, #FFF 50% 100%);
}

.section-launch-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 4.5rem 2rem 5rem 3rem;
    gap: 5%;
    height: 450px;
    border-radius: 0.75rem;
    background-color: #fcc63d;
    background: linear-gradient(90deg, #FC358A 0%, #fcc63d 100%);
}

.section-launch-picture {
    width: auto;
    height: 60%;
    border-radius: 0.8rem;
}

.section-launch-text {
    width: 50%;
    color: white;
}

.section-launch-text p {
    margin-bottom: 5rem;
}

/*---------------------------*/

.section-contractors {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1.25rem 3rem;
}

.section-contractors-figures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
}

.section-contractors-figures figure {
    margin: 0;
    width: 23vw;
    height: auto;
}

.section-contractors-figures img {
    width: 100%;
    height: 12vw;
    max-height: 220px;
    border-radius: 0.8rem;
    margin: 1rem 0;
    object-fit: cover;
}

.section-contractors-figures figcaption {
    font-size: 1.25rem;
    line-height: 1.5;
}

/*---------------------------*/

.section-news {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 12rem 0;
    padding: 0 3rem;
}

.section-news-illustration {
    position: absolute;
    background: linear-gradient(180deg, #fcc63d 0%, #FC358A 100%);
    top: 0;
    left: 0;
    width: 40%;
    height: 85%;
    z-index: 1;
}

.section-news-top {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
}

.section-news-figures {
    position: relative;
    display: grid;
    grid-template-areas: 
        "a a b b"
        "a a c d";
        grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 42rem;
    gap: 2rem;   
    z-index: 2;
}

.section-news-figures figure {
    width: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 19, 19);
    border-radius: 0.8rem;
    overflow: hidden;
}

.news-img {
    height: calc(100% - 3rem);
    border-radius: 0.8rem 0.8rem 0 0;
    overflow: hidden;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none;
    transition: all 300ms;
    box-sizing: content-box;
}

.news-img img:hover {
    transform: scale(1.1);
    filter: brightness(0.75);
    transition: all 300ms;
}

.section-news-figures figcaption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 0 0 0.8rem 0.8rem;
    background-color: rgb(19, 19, 19);
    color: white;
}

.section-news-figures p {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.news-figure-larger {
    grid-area: a;
}

.news-figure-large {
    grid-area: b;
}

.news-figure-medium-first {
    grid-area: c;
}

.news-figure-medium-second {
    grid-area: d;
}

/*---------------------------*/

.section-flatmates {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(19, 19, 19);
    background: linear-gradient(180deg, #131313 0% 80%, #FFF 80% 100%);
}

.section-flatmates img {
    width: 90%;
    z-index: 3;
}

.section-flatmates-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 5.5rem 0;
}

.section-flatmates p {
    width: 50%;
    margin-bottom: 2.5rem;
    text-align: center;
}

.flatmates-dots-illustration {
    position: absolute;
    bottom: 10%;
    left: 0;
    bottom: 28%;
    z-index: 2;
}

.flatmates-dots-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 0.8rem;
    height: 0.8rem;
    gap: 1rem;
    margin: 1rem 0;
}

.flatmates-dots-row img {
    opacity: 40%;
}

/*---------------------------*/

.section-events {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5rem 3rem;
}

.section-events-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.section-events-figures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2%;
}

.section-events-figures figure {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.events-img {
    height: 13rem;
    border-radius: 0.8rem;
    margin: 1.25rem 0; 
    overflow: hidden;
}

.events-img img {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    filter: none;
    transition: all 300ms;
    box-sizing: content-box;
}

.events-img img:hover {
    transform: scale(1.1);
    filter: brightness(0.85);
    transition: all 300ms;
}

.section-events-figures figcaption {
    font-size: 1.25rem;
    line-height: 1.5;
}

.section-events-figures .figure-date {
    font-size: 1rem;
    color: gray;
}


/*============ END - SECTIONS ============*/

/*============ START - FOOTER ============*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8rem 1.5rem 1.25rem 1.5rem;
    background: linear-gradient(0, #131313 0% 80%, #FFF 80% 100%);
}

.footer h3 {
    font-size: 2rem;
    color: white;
}

.footer a {
    color: white;
}


.footer-banner {
    display: grid;
    grid-template-areas: 
        "newsletter links"
        "address nav";
    row-gap: 6rem;
    column-gap: 8rem;
    padding: 2.5rem 2rem 1.2rem 2rem;
    margin-top: 5rem;
    color: white;
}

.footer-newsletter {
    grid-area: newsletter;
}

.form-newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.newsletter-textfield {
    width: 20vw;
    height: auto;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2rem;
    padding: 1rem 2.5rem 1rem 2rem;
    font-size: 1rem;
    color: white;
}

.newsletter-textfield::placeholder {
    color: white;
}

.newsletter-textfield:focus-visible {
    outline: 2px solid transparent;
}

.form-newsletter button {
    border: none;
    position: absolute;
    right: 0;
}

.footer-links {
    grid-area: links;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5vw;
}

.footer-links-actions,
.footer-links-values {
    color: inherit;
}

.footer-links-values li,
.footer-links-actions li {
    color: inherit;
    margin-bottom: 1.25rem;
}

.footer-address {
    grid-area: address;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 0.8rem 0;
}

.footer-nav {
    grid-area: nav;
    margin: 0.8rem 0;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4vw;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.footer-nav li {
    color: inherit;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    max-width: 220px;
    background-color: #fcc63d;
    background: linear-gradient(0deg, #FC358A 0%, #fcc63d 100%);
    padding: 3rem 0 1.8rem 0;
    margin-right: 3rem;
}

.socials img {
    height: 1.25rem;
}

/*============ END - FOOTER ============*/
